<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
  </head>
  <body>
    <h5><%=error.message%></h5>
    <h5><%=error.status%></h5>
    <h5><%=error.stack%></h5>
  </body>
</html>
